In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("credit_card_transactions.csv")
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,1045211,2020-03-09 15:09:26,577588686219,fraud_Towne LLC,misc_pos,194.51,James,Strickland,M,25454 Leonard Lake,...,-79.4545,972,Public relations account executive,1997-10-23,fff87d4340ef756a592eac652493cf6b,1362841766,40.420453,-78.865012,0,15909.0
1,547406,2019-08-22 15:49:01,30376238035123,fraud_Friesen Ltd,health_fitness,52.32,Cynthia,Davis,F,7177 Steven Forges,...,-124.4409,217,Retail merchandiser,1928-10-01,d0ad335af432f35578eea01d639b3621,1345650541,42.758860,-123.636337,0,NaN
2,110142,2019-03-04 01:34:16,4658490815480264,fraud_Mohr Inc,shopping_pos,6.53,Tara,Richards,F,4879 Cristina Station,...,-79.7853,184,Systems developer,1945-11-04,87f26e3ea33f4ff4c7a8bad2c7f48686,1330824856,40.475159,-78.898190,0,15961.0
3,1285953,2020-06-16 20:04:38,3514897282719543,fraud_Gaylord-Powlowski,home,7.33,Steven,Faulkner,M,841 Cheryl Centers Suite 115,...,-77.3083,10717,Cytogeneticist,1952-10-13,9c34015321c0fa2ae6fd20f9359d1d3e,1371413078,43.767506,-76.542384,0,NaN
4,271705,2019-05-14 05:54:48,6011381817520024,"fraud_Christiansen, Goyette and Schamberger",gas_transport,64.29,Kristen,Allen,F,8619 Lisa Manors Apt. 871,...,-104.1974,635,Product/process development scientist,1973-07-13,198437c05676f485e9be04449c664475,1336974888,41.040392,-104.092324,0,82082.0

In [3]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='str')

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             15000 non-null  int64
 1   trans_date_trans_time  15000 non-null  str
 2   cc_num                 15000 non-null  int64
 3   merchant               15000 non-null  str
 4   category               15000 non-null  str
 5   amt                    15000 non-null  float64
 6   first                  15000 non-null  str
 7   last                   15000 non-null  str
 8   gender                 15000 non-null  str
 9   street                 15000 non-null  str
 10  city                   15000 non-null  str
 11  state                  15000 non-null  str
 12  zip                    15000 non-null  int64
 13  lat                    15000 non-null  float64
 14  long                   15000 non-null  float64
 15  city_pop               15000 non-null  int64
 16  job                    15000 non-null  str
 17  dob                    15000 non-null  str
 18  trans_num              15000 non-null  str
 19  unix_time              15000 non-null  int64
 20  merch_lat              15000 non-null  float64
 21  merch_long             15000 non-null  float64
 22  is_fraud               15000 non-null  int64
 23  merch_zipcode          12713 non-null  float64
dtypes: float64(6), int64(6), str(12)
memory usage: 2.7 MB

In [5]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
count,1.500000e+04,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000,1.500000e+04,1.500000e+04,15000.000000,15000.000000,15000.000000,12713.000000
mean,6.485813e+05,4.105051e+17,69.235666,48784.365000,38.526520,-90.267032,8.905423e+04,1.349250e+09,38.527066,-90.272400,0.005667,46770.197436
std,3.747707e+05,1.298861e+18,137.106539,26967.231215,5.060986,13.761317,3.098602e+05,1.284817e+07,5.093540,13.779232,0.075066,25845.836161
min,4.700000e+02,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.325398e+09,19.060875,-166.558499,0.000000,1005.000000
25%,3.215642e+05,1.800174e+14,9.557500,26041.000000,34.668900,-96.962300,7.320000e+02,1.338690e+09,34.683707,-97.033528,0.000000,24954.000000
50%,6.462830e+05,3.518235e+15,47.710000,48174.000000,39.342600,-87.476900,2.379000e+03,1.349147e+09,39.353053,-87.440737,0.000000,45685.000000
75%,9.734685e+05,4.634956e+15,82.682500,72047.000000,41.948800,-80.158000,2.047800e+04,1.359457e+09,41.957672,-80.238214,0.000000,68367.000000
max,1.296673e+06,4.992346e+18,5470.670000,99783.000000,65.689900,-67.950300,2.906700e+06,1.371817e+09,66.105546,-66.979887,1.000000,99403.000000

In [6]:
df.isna().sum()

Unnamed: 0                  0
trans_date_trans_time       0
cc_num                      0
merchant                    0
category                    0
amt                         0
first                       0
last                        0
gender                      0
street                      0
city                        0
state                       0
zip                         0
lat                         0
long                        0
city_pop                    0
job                         0
dob                         0
trans_num                   0
unix_time                   0
merch_lat                   0
merch_long                  0
is_fraud                    0
merch_zipcode            2287
dtype: int64

In [7]:
#Handling missing zipcodes

df["zipcode_available"] = df["merch_zipcode"].notna()
df["merch_zipcode"] = df["merch_zipcode"].fillna("UNKNOWN")

In [8]:
df["trans_date_trans_time"] = pd.to_datetime(df["trans_date_trans_time"])

In [9]:
#Extract transaction hour
df["transaction_hour"]=df["trans_date_trans_time"].dt.hour

# Extract day name
df["transaction_day"] = df["trans_date_trans_time"].dt.day_name()

In [10]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode',
       'zipcode_available', 'transaction_hour', 'transaction_day'],
      dtype='str')

In [11]:
#Loading data into MySQL DATABASE

from sqlalchemy import create_engine
#MySQL connection
username="root" #default username
password="sql123" #your sql password
host="localhost" #if run locally
port="3306" #default MySQL port
database="credit_card_transactions" #The database you created in MySQL

engine=create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

#Write DataFrame to MySQL
table_name="transaction"
df.to_sql(table_name,engine,if_exists="replace",index=False)

#Read back sample
pd.read_sql("SELECT * FROM transaction LIMIT 5;",engine)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode,zipcode_available,transaction_hour,transaction_day
0,1045211,2020-03-09 15:09:26,577588686219,fraud_Towne LLC,misc_pos,194.51,James,Strickland,M,25454 Leonard Lake,...,1997-10-23,fff87d4340ef756a592eac652493cf6b,1362841766,40.420453,-78.865012,0,15909,1,15,Monday
1,547406,2019-08-22 15:49:01,30376238035123,fraud_Friesen Ltd,health_fitness,52.32,Cynthia,Davis,F,7177 Steven Forges,...,1928-10-01,d0ad335af432f35578eea01d639b3621,1345650541,42.758860,-123.636337,0,UNKNOWN,0,15,Thursday
2,110142,2019-03-04 01:34:16,4658490815480264,fraud_Mohr Inc,shopping_pos,6.53,Tara,Richards,F,4879 Cristina Station,...,1945-11-04,87f26e3ea33f4ff4c7a8bad2c7f48686,1330824856,40.475159,-78.898190,0,15961,1,1,Monday
3,1285953,2020-06-16 20:04:38,3514897282719543,fraud_Gaylord-Powlowski,home,7.33,Steven,Faulkner,M,841 Cheryl Centers Suite 115,...,1952-10-13,9c34015321c0fa2ae6fd20f9359d1d3e,1371413078,43.767506,-76.542384,0,UNKNOWN,0,20,Tuesday
4,271705,2019-05-14 05:54:48,6011381817520024,"fraud_Christiansen, Goyette and Schamberger",gas_transport,64.29,Kristen,Allen,F,8619 Lisa Manors Apt. 871,...,1973-07-13,198437c05676f485e9be04449c664475,1336974888,41.040392,-104.092324,0,82082,1,5,Tuesday

In [12]:
df.dtypes

Unnamed: 0                        int64
trans_date_trans_time    datetime64[us]
cc_num                            int64
merchant                            str
category                            str
amt                             float64
first                               str
last                                str
gender                              str
street                              str
city                                str
state                               str
zip                               int64
lat                             float64
long                            float64
city_pop                          int64
job                                 str
dob                                 str
trans_num                           str
unix_time                         int64
merch_lat                       float64
merch_long                      float64
is_fraud                          int64
merch_zipcode                    object
zipcode_available                  bool
transaction_hour                  int32
transaction_day                     str
dtype: object